.navbar {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-link {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  background-color: #ddd;
}
